@font-face {
    font-family: mainFont;
    src: url(BebasNeue-Regular.ttf);
}

* {
    font-family: mainFont;
}

body {
    background-color: rgb(36, 36, 36);
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
  }

mainContainer {
    display: flex;
}

/*top of the site*/

h1 {
    display: inline-block;
    text-align: center;
    font-size: 4.8vw;
    margin-top: -0.6vh;
    margin-left: 0.6vh;
    background-image: url(textBackground.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h1Footer {
    width: 100vw;
    text-align: center;
    margin-top: 5%;
    font-size: 4.8vw;
}

.top {
    display: inline-flex;
    height: 105px;
    width: 1879px;
    background-color: rgb(24, 24, 24);
}

.squares {
    display: inline-flex;
    justify-content: end;
    margin-top: 7px;
}

.sqr1,
.sqr2,
.sqr3,
.sqr4,
.sqr5 {
    background-color: rgb(20, 13, 13);
    height: 83px;
    width: 160px;
    border-radius: 3px;
    border: 1px solid;
    margin-left: 10px;
    cursor: pointer;
}

.sqr1 {
    border-color: aqua;
}

.sqr2 {
    border-color:  rgb(0, 255, 200);
}

.sqr3 {
    border-color: rgb(255, 242, 61);
}

.sqr4 {
    border-color: rgb(255, 238, 0);
}

.sqr5 {
    border-color: rgb(255, 197, 38);
}

.sqr1:hover {
    border: none;
    margin-left: 12px;
    background: linear-gradient(90deg, rgb(0, 255, 213) 54%, rgb(99, 255, 51) 100%);  
}

.sqr2:hover {
    border: none;
    margin-left: 12px;
    background: linear-gradient(90deg, rgb(38, 255, 128) 54%, rgba(255, 237, 51, 1) 100%);
}

.sqr3:hover {
    border: none;
    margin-left: 12px;
    background: rgb(241, 255, 51);
}

.sqr4:hover {
    border: none;
    margin-left: 12px;
    background: linear-gradient(90deg, rgb(241, 255, 51) 50%, rgb(255, 237, 51) 100%);
}

.sqr5:hover {
    border: none;
    margin-left: 12px;
    background: rgba(255, 200, 51, 1);
}   

.paragraf {
    color: whitesmoke;
    height: 58px;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    padding-top: 25px;
}

.paragraf:hover {
    color: rgb(27, 27, 27);
}

.vertical {
    background: linear-gradient(49deg, rgba(255, 197, 38) 27%, rgb(255, 237, 51, 1) 100%);
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 7px;
    height: 83px;
    border-radius: 5px;
    border-style: none;
}

.accInfo {
    width: 83px;
    height: 83px;
    margin-top: 7px;
    margin-left: 18px;
    border-radius: 3px;
    border: 1px solid rgb(255, 197, 38);
    background-color: rgb(20, 13, 13);
}

.horizontals {
    justify-content: left;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
    display: inline-flex;
    margin-top: 0px;
}

.line1 {
    height: 7px;
    width: 1000px;
    background: linear-gradient(49deg, rgba(0, 239, 255, 1) 90%, rgb(38, 255, 154) 100%);
    border-radius: 5px;
    border-style: none;
    margin-right: 25px;
}

.line2 {
    height: 7px;
    width: 40px;
    background: rgb(38, 255, 154);
    border-radius: 5px;
    border-style: none;
    margin-right: 15px;
}

.line3 {
    height: 7px;
    width: 100px;
    background: linear-gradient(49deg, rgb(38, 255, 128) 54%, rgba(255, 237, 51, 1) 100%);
    border-radius: 5px;
    border-style: none;
    margin-right: 45px;
}

.line4 {
    height: 7px;
    width: 400px;
    background: linear-gradient(49deg, rgba(255, 237, 51, 1) 87%, rgb(255, 197, 38) 100%);
    border-radius: 5px;
    border-style: none;
    margin-right: 50px;
}

.line5 {
    height: 7px;
    width: 60px;
    background: rgba(255, 200, 51, 1);
    border-radius: 5px;
    border-style: none;
}

.line6 {
    height: 7px;
    width: 85px;
    margin-left: 20px;
    background: rgba(255, 200, 51, 1);
    border-radius: 5px;
    border-style: none;
}

.accPfp {
    color: #fffb00;
    font-size: 35px;
    text-align: center;
    margin-top: 22px;
}
/* middle of the site */

/* .arcaneSearchBox {
    display: flex;
}

.arcaneList {
    display: inline-block;
    align-items: center;
    background-color: rgb(20, 13, 13);
    height: 718px;
    width: 170px;
    margin: 10px;
    margin-top: 40px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid aqua;
    color: whitesmoke;
    text-indent: 10px;
    letter-spacing: 2px;
}

ul {
    margin-top: 40px;
}

li {
    margin-top: 10px;
}

.arcaneSearchResult {
    height: 728px;
    width: 800px;
    margin: 10px;
    margin-top: 40px;
    display: inline-flex;
    background-color: rgb(20, 13, 13);
    border-radius: 3px;
    border: 1px solid aqua;
} */

.login {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 700px;
    width: 800px;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 13, 13);
    border-radius: 10px;
}


/* bottom of the site */