* {
    margin: 0px !important;
}

.top-bar {
    width: 99.4%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #777777;
}
.navigation-bar {
    width: 99.4%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #474747;
}

.categories-list {
    position: absolute;
    background: #474747;
    display: none;
}

